<div class="container">
 
  <div class="p-2 mb-2 bg-light rounded-3" style="width: 100%">
    <div class="container-fluid py-1">
      <div>
        <h2 style="text-align: center;">JUEGOS</h2>
        <button class="btn btn-primary" style="margin:1px;" routerLink="./ahorcado">AHORCADO</button>
        <button class="btn btn-primary" style="margin:1px;" routerLink="./mayormenor">MAYOR O MENOR</button>
        <button class="btn btn-primary" style="margin:1px;" routerLink="./preguntados">PREGUNTADOS</button>
        <button class="btn btn-primary" style="margin:1px;" routerLink="./snake">LA SERPIENTE</button>

      </div>
    </div>
  </div>

  <div class="row align-items-md-stretch">

    <div class="col-md-8">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h1>PERFIL</h1>
        <hr>
        <div *ngIf="authService.userData as user">
          <div class="row align-items-md-stretch">
              <div class="col-md-2">
            <img class="img-thumbnail img-fluid"
              src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
              </div>
            <div class="col-md-6 info">
              <p>Usuario: <strong>{{(user.displayName)}}</strong></p>
              <p>Email: <strong>{{user.email}}</strong></p>
            </div>
          </div>
          <hr>
          <h1>PUNTUACIONES</h1>
          <hr>
          <P>WIP</P>
        </div>
      </div>
    </div>

    <div class="col-md-4 ">
      <div class="h-100 p-5 bg-light border rounded-3">
        <app-chat></app-chat>
      </div>
    </div>

  </div>

</div>







