h1 {
    color: #000000;
    font-size: 50px;
    font-weight: bolder;
}

h2 {
    color: #698893;
    margin-bottom: 50px;
}

a {
    color: #0f58ac;
    border-bottom: 2px solid transparent;
    transition: 0.5s border-bottom;
}

a:hover {
    border-bottom: 2px solid #5eccd6;
    cursor: pointer;
}

.image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.info {
    padding: 20px;
}