<div class="background">
    <div class="login-container">
        <div class="text-container">
            <h1>¡Hola!</h1>
            <p>
                Si aun no tienes cuenta, puedes registrarte haciendo click en el boton de abajo.
            </p>
            <button mat-button routerLink="/register">Registrarse</button>
        </div>
        <div class="form-container">
            <h1>Inicio de Sesión</h1>
            <button class="mat-raised-button" (click)="loginWithGoogle()">
                INICIAR SESIÓN CON GOOGLE
            </button>
            <br>
            <br>
            <app-login-form (formData)="login($event)"></app-login-form>
        </div>
    </div>
</div>